.footer {
  background-color: $brand-black;
  color: $brand-gray;
  font-size: 14px;
  padding: 20px 0;
  strong { font-weight: 900; }
  a {
    color: $brand-gray;
    &:hover { color: $brand-yellow; text-decoration: none; }
  }
}