.lower {
  background: $brand-black;
  color: #fff;
  padding: 100px 0 110px 0;
}

.lower__title {
  text-align: center;
  position: relative;
  width: 193px;
  margin: 20px auto 100px;

  &:before,
  &:after {
    color: $brand-yellow;
    font-size: 130px;
    font-weight: 300;
    position: absolute;
  }

  &:before {
    content: '[';
    left: -40px;
    top: -55%;
  }

  &:after {
    content: ']';
    right: -40px;
    top: -55%;
  }

  span {
    display: block;
    text-transform: uppercase;

  }

  span:nth-child(1) {
    font-size: 26px;
    font-weight: 900;
  }

  span:nth-child(2) {
    font-size: 43.2px;
    font-weight: 400;
  }
}
