doctype 5
html
  head
    meta[charset="utf-8"]
    title Codeland
    link href="http://fonts.googleapis.com/css?family=Lato:400,900,700,300" rel="stylesheet" type="text/css"
    link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'
  body
    main
      section.intro
        header.intro__header
          .container
            a.logo
              img src='images/codeland-logo-black.svg'
        .intro__hero
          .container
            .row
              .col-md-12
                h1.title--xl.title--up.intro__title Lance sua startup em apenas duas semanas
            .row
              .col-md-8
                strong.intro__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, aut neque eligendi sequi nemo ab possimus accusamus minus maiores officiis aliquid nostrum recusandae dolore.
            .row
              .col-md-12
                a.btn.btn--line.btn--lg.intro__btn Saiba como
      section.projects
        .container
          header.projects__title
            h2.title--bordered
              span Nossos
              span projetos
          .row
            .col-md-8
              p.text--gray Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, accusantium rem vel corrupti, numquam alias modi impedit.
        .projects__grid
          .container-fluid
            .row.no-pad
              - 8.times do
                article.col-md-3.col-sm-6
                  .project-box
                    .project-box__image style="background-image: url(https://placekitten.com/g/200/300)"
                    h1.project-box__name  Lorem ipsum dolor sit.
          .slide-show
        .slide-show__description
      .skew-container
        .skew-line
          .skew
          .skew-right
      section.lower
        h1.lower__title
          span 100% clientes
          span Indicam
        .container
          .row
            .col-md-6
              aside.pride-box
                - 3.times do
                  article.pride-box__quote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ducimus perferendis sed qui modi facere maxime fugit aliquam.
                    .pride-box__author
                      img src='https://placekitten.com/g/200/300' width="50" height="50" class='pride-box__author__avatar'
                      .pride-box__author__info
                        .pride-box__author__name Fulano de tals
                        .pride-box__author__company SuaStartup

            .col-md-6
              section
                .form-box
                  .form-box__divider
                    input
                  .form-box__divider
                    input
                  .form-box__divider
                    input
                  .form-box__divider
                    .select
                      select
                        option Something
                  .form-box__divider
                    textarea
                  .form-box__divider
                    button.btn.btn--line-yellow.btn--lg.btn--block Enviar mensagem
