.pride-box__quote {
  margin: 0 auto 50px auto;
  width: 80%;

  p {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding-left: 15px;

    &:before {
      content: '“';
      font-family: Helvetica;
      color: #444;
      font-size: 82px;
      position: absolute;
      left: -40px;
      top: -30px;
    }
  }
}

.pride-box__author {
  @extend .clearfix;
  margin-left: 10px;
}

.pride-box__author__avatar {
  border-radius: 50%;
  float: left;
}

.pride-box__author__info {
  float: left;
  margin-left: 10px;
}

.pride-box__author__name {
  font-size: 18px;
  font-weight: 300;
  color: $brand-yellow;
}

.pride-box__author__company {
  color: $brand-gray;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 320px) {
  .pride-box__quote p {
    padding-left: 35px;

    &:before {
        left: -6px;
    }
  }
}
