.projects__grid {
  padding: 30px 0 10px 0;
}

.project-box {
  height: 220px;
  overflow: hidden;
  background-size: 100% 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, .4);
  transition: all .3s;
  cursor: default;

  &:hover,
  &:active {
    background: rgba(0, 0, 0, .1);
    cursor: default;

    .project-box__name {
      transform: translateY(160%);
    }
  }
}

.project-box__image {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.project-box__name {
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .7);
  font-weight: 900;
  text-align: center;
  transition: all .3s;
  will-change: transform;
  transform: translateY(200px);
}
