body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

// ==== Titltes
.title--xl {
  font-size: 62px;
}

.title--up {
  text-transform: uppercase;
  font-weight: bold;
}

.title--bordered {
  @extend .title--up;

  border-bottom: 7px solid $brand-yellow;
  padding: 0 5px 20px 0;
  display: inline-block;

  span {
    display: block;
  }
}

// ==== Text colors

.text--gray {
  color: $brand-gray !important;
}

.text--black {
  color: $brand-black !important;
}

.text--yellow {
  color: $brand-yellow !important;
}
