.text-bold {
  font-weight: bold;
}

.caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 8px dashed $brand-yellow;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  pointer-events: none;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
